@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header{
  background-color: #fff;
}
// start header__top
.header__top{
  background-color:#eef1f3;
}
.header__top-inner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  margin-left: 7px;
  a{
    img{
      height: 50px;
      width: 207px;
    }
  }
}
.header__link{
  margin-left: auto;
  margin-right: 50px;
  a{
    background-color: $blue;
    font-size: 14px;
    line-height: 28px;
    padding: 4px 18px;
    color: #fff;
    border-radius: 14px;
    text-align: center;
  }
}
.header__box{
  display: flex;
  align-items: center;
}
.notofication__box,
.message__box,
.basket__box {
  position: relative;
  & + &{
    margin-right: 32px;
  }
  a{
    height: 20px;
    width: 20px;
    &::before {
      color: #7e8fa1;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span{
      position: absolute;
      min-width: 22px;
      height: 22px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      left: 12px;
      top: -8px;
      font-size: 14px;
      color: #fff;
      padding: 0 6px;
    }
  }
}
.notofication__box{
  margin-right: 32px;
  span{
    background-color: $red;
  }
}
.message__box{
  span{
    background-color: $green;
  }
}
.basket__box{
  span{
    background-color: $blue;
  }
  margin-right: 48px;
}
.user__box{
  margin-right: 30px;
  .user__inner{
    display: flex;
  }
  .user__images{
    height: 50px;
    width: 50px;
    background-color: #a9a9a9;
    border-radius: 50%;
  }
  .user__info{
    margin: auto 0 auto 22px;
    line-height: 22px;
  }
  .user__name{
    font-weight: 500;
    color: #333;
  } 
  .user__money{
    color: $blue;
    font-size: 15px;
  }
}
.header__login--off {
  display: none;
}
.header__logout {
  display: none;
  &.header__login--on {
    display: block;
  }
}
.header__btn{
  width: 72px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  & + &{
    margin-left: 10px;
  }
}
.header__login{
  background-color: $blue;
} 
.header__logout{
  background-color: $red;
} 
.header__register{
  background-color: $green;
}
// end header__top
// star header__menu
.header__menu-inner{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.menu{
  &__list{
    display: flex;
    li + li{
      margin-left: 35px;
    }
    a{
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 42px;
    }
  }
}
.header__search-form{
  form{
    height: 46px;
    display: flex;
    position: relative;
    input{
      width: 360px;
      border: 1px solid #d9dfe5;
      border-radius: 18px;
      padding-left: 25px;
      padding-right: 75px;
      outline: none;
      &::placeholder{
        font-size: 15px;
        color: #898f96;
      }
    }
    button{
      position: absolute;
      width: 30px;
      height: 46px;
      border-radius: 18px;
      padding: 15px 25px;
      right: 0;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: $blue;
      &::before{
        content: "\e86f";
        font-family: 'Linearicons-Free';
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        color: #fff;
        font-size: 15px;
      }
    }
  }
}
// end header__menu
// end header 

// start search
.search{
  background-color: $blue;
  height: 725px;
  position: relative;
}
.search__inner{
  padding-top: 170px;
  padding-bottom: 150px;
  color: #f3f3f8;
  text-align: center;
  &-title{
    width: 850px;
    line-height: 70px;
    margin: 0 auto;
    h1{
      font-size: 60px;
      font-weight: 400;
    }
    span {
      font-weight: 700;
      font-size: 60px;
    }
  }
  &-text{
    font-weight: 500;
    font-size: 20px;
  }
  &-link{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    a + a{
      margin-left: 30px;
    }
    a{
      height: 55px;
      max-width: 190px;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 23px;
      padding: 12px 25px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      transition: all .3s;
      &:hover{
        background-color: #fff;
        color: $blue;
      }
    }
  }
  &-form{
    height: 135px;
    background-color: #fff;
    width: 1140px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -66px;
    &::before{
      content: '';
      position: absolute;
      width: 1110px;
      height: 135px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 6px;
      bottom: 13px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1080px;
      height: 135px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 6px;
      bottom: 26px;
    }
    form{
      z-index: 2;
      input{
        height: 55px; 
        width: 613px;
        border: 1px solid #dcdcdc;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-left: 28px;
        padding-right: 28px;
        outline: none;
      }
    }
    button{
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      height: 55px;
      width: 223px;
      padding: 18px 40px;
      color: #fff;
      background-color: $blue;
      margin-left: 30px;
    }
  }
}

// end search

// start advantages

.advantages{
  padding-top: 185px;
  padding-bottom: 110px;
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  max-width: 360px;
  width: 100%;
  text-align: center;
  padding: 41px 30px;
  transition: all .5s;
  &-img{
    width: 112px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}

// end advantages

// start list__slider
.list__slider{
  background-color: #eff1f5;
  padding: 120px 0;
  &-head{
    height: 110px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 3px;
    margin-bottom: 50px;
    padding: 40px 30px;
    h3{
      font-size: 30px;
      color: #000;
    }
  }

  &-item{
    display: flex;
    border-radius: 3px;
  }
  &-img{
    height: 450px;
    min-width: 555px;
    overflow: hidden;
    background-color: #4e5760;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-content{
    background-color: #fff;
    padding: 25px 50px;
    width: 100%;
  }
  &-title{
    font-weight: 500;
    font-size: 24px;
    color: #000;
    line-height: initial;
  }
  &-author{
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    &-img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #7347c1;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &-name{
      font-size: 15px;
      color: #000;
      margin-left: 11px;
    }
    &-technology{
      position: relative;
      margin-left: 20px;
      padding-left: 25px;
      h3{
        color: $violet;
      }
      &::before{
        content: '';
        position: absolute;
        font-size: 15px;
        background-image: url(../images/icons/wordpress.svg);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 16px;
        width: 16px;
      }
    }
  }
  &-text{
    width: 480px;
    margin-bottom: 35px;
  }
  &-appointment{
    margin-bottom: 40px;
    span{
      height: 28px;
      padding: 5px 18px;
      border-radius: 10px;
      background-color: #f1f3f6;
      font-size: 15px;
      color: #868c96;
    }
  }
  &-info{
    display: flex;
    align-items: flex-end;
    height: 65px;
    border-top: 1px solid #ececec;
    &-price{
      margin-right: 20px;
      span{
        height: 32px;
        padding: 5px 18px;
        border-radius: 12px;
        background-color: $blue;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
      }
    }
    &-like{
      margin-right: 20px;
      padding-left: 25px;
      position: relative;
      span{
        font-size: 15px;
      }
      &::before{
        content: "\e813";
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
        font-size: 15px;
        color: $violet;
      }
    }
    &-purchase{
      padding-left: 25px;
      position: relative;
      span {
        font-size: 15px;
        color: $blue;
      }
      &::before {
         content: "\e82e";
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
        font-size: 15px;
        color: $blue;
      }
    }
  }
}


// end list__slider